<div class="jumbotron">
  <%= image_tag("thavorn_beach.png", class:  "hero-image") %>
  <div class="center-block">
    <h1 class="welcome">Welcome Home</h1>
  </div>
</div>

<%= render partial: "listings_page_filter" %>

<%= render partial: "listings_index", locals: { listings: @listings } %>
