<div class="row edit-new-listing">
  <div class="col-md-8 col-md-offset-2">
    <table>
      <thead>
        <th>
          <h2 class="edit-listing-header">Edit listing</h2>
        </th>
        <th>
          <div class="delete-listing">
              <%= link_to "Delete This Listing", user_listing_path(@listing.user.slug, @listing), method: "delete" %>
          </div>
        </th>
      </thead>
    </table>
    <%= render partial: "listing_form" %>
  </div>
</div>
