<div class="row">
  <div class="col-lg-4">
    <h1 class="listing-header"><%= @listing.title %></h1>
    <p><%= @listing.description %></p>
    <p><a href="#" class="btn btn-primary btn-large">Book It!</a></p>
  </div>
</div>
<%= render partial: "image_carousel" %>

<section id="networks">
  <div class="container">
    <div class="show-info">
      <%= render partial: "listing_show", locals: {listing: @listing, images: @listing_images} %>
    </div>
    <p>
      <a href="#"><i class="facebook fa fa-facebook"></i></a><a href="#"><i class="twitter fa fa-twitter"></i></a><a href="#"><i class="mail fa fa-envelope"></i></a>
    </p>

  </div>
