<div class="row">
  <div class="col-lg-4">
    <h1 class="listing-header"><%= @listing.title %></h1>
    <p><%= @listing.description %></p>
    <p><a href="#" class="btn btn-primary btn-large">Book It!</a></p>
  </div>
</div>
<%= render partial: "image_carousel" %>
