


<div class="jumbotron masthead">
  <div class="row profile-header">
    <div class="col-lg-12">
        <h1><%= @user.first_name %></h1>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag @user.image.url(:medium) %>
      </div>
      <div class="col-lg-8">
        <p><%= @user.about_me %></p>
      </div>

     </div>
   </div>




<div class="profile-page">
    <div class="row">
      <div class="col-lg-12">
          <ul class="slides">
            <% @listings.each do |listing| %>
              <li class="listing-slide"><a href="#"><img src="listing.image" alt="listing.title">
              <span class="d-hover"><%= listing.description %><p>View listing</p></span></a></li>
              <% end %>
          </ul>
      </div>
      </div>
    </div>



  <section id="networks">
    <div class="container">
      <p>
        <a href="#"><i class="facebook fa fa-facebook"></i></a><a href="#"><i class="twitter fa fa-twitter"></i></a><a href="#"><i class="mail fa fa-envelope"></i></a>
      </p>

    </div>

  </section>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jribbble.js"></script>
    <script src="assets/js/site-ck.js"></script>
</div>
