<div class="jumbotron">
	<div class="center-block">
		<h1 class="welcome">Welcome</h1>
	</div>
</div>
<div class="home-search">
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input type="text" class="form-control connector" id="search-city" aria-label="..." placeholder="Where do you want to go?">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle connector" data-toggle="dropdown" aria-expanded="false">Search By <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li><a href="#">All</a></li>
            </ul>
          </div><!-- /btn-group -->
        </div><!-- /input-group -->
      </div>
        <div class="form-group">
          <div class="btn-group"> <a class="btn btn-default dropdown-toggle btn-select connector" data-toggle="dropdown" href="#">Checkin<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#">United States</a></li>
                  <li><a href="#">Canada</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span> Other</a></li>
              </ul>
          </div>
        </div>
        <div class="form-group">
          <div class="btn-group"> <a class="btn btn-default dropdown-toggle btn-select connector" data-toggle="dropdown" href="#">Checkout<span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><a href="#">United States</a></li>
                  <li><a href="#">Canada</a></li>
                  <li class="divider"></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star"></span> Other</a></li>
              </ul>
          </div>
        </div>
        <div class="form-group">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle connector" data-toggle="dropdown" aria-expanded="false">Guests<span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>11</li>
            <li>12</li>
            <li>13</li>
            <li>14</li>
            <li>15</li>
            <li>16+</li>
          </ul>
        </div>
        </div>
        <div class="form-group">
          <div class="btn-group">
              <button type="button" id="btnSearch" class="btn btn-primary connector">Search</button>
          </div>
        </div>
      </div>
    </div>
  </form>
<<<<<<< HEAD
=======
	<%= render "home_page_listings" %>
>>>>>>> master
