<div class="jumbotron">

  <%= image_tag("thavorn_beach.png", class:  "hero-image") %>
  <div class="center-block">
    <%= link_to  listings_path do %>
    <h1 class="welcome">Destinations</h1>
    <li class="active"><a href="#" data-toggle="modal" data-target="#new_listing-modal" id="new_listing">Create A Listing</a></li>
    <% end %>
  </div>
</div>

<%= render "home_page_search_bar" %>
<%= render "home_page_listings" %>
