<div class="jumbotron">

  <%= image_tag("thavorn_beach.png", class:  "hero-image") %>
	<div class="center-block">
		<h1 class="welcome">Welcome</h1>
	</div>
</div>

<%= render "home_page_search_bar" %>
<%= render "home_page_listings" %>
