<h1>Szalonna gastropub</h1>


  <div id="home-pics" class="row">
    <div class="large-4columns>">
      <%= image_tag "denver.jpg" %>
    </div>
    <div class="large-4columns>">
      <%= image_tag "new_york.jpg" %>
    </div>
    <div class="large-4columns>">
      <%= image_tag "washington_dc.jpg" %>
    </div>
  </div>
