<div class="jumbotron masthead">
  <div class="row host-dashboard-head">
    <div class="col-lg-12">
      <h2 class="host-dashboard-h2"><%= current_user.first_name %>'s Dashboard</h2>
    </div>
  </div>
</div>
<hr class="">
<div class="container">
  <div class="row">
    <% if current_user.host? %>
      <%= render partial: "host_reservations", locals: { listings: @listings } %>
    <% else %>
      <%= render partial: "user_reservation", locals: { reservations: @reservations } %>
    <% end %>
  </div>
</div>
