<h1>Reservation <%= @reservation.format_reservation_number(@reservation.id) %></h1>

<div class="reservation-details">
  <%= render partial: "reservation_details", locals: { reservations: @reservations } %>
</div>
