body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  background: url(/assets/blizzard.png) repeat;
  margin-top: 0;
}


a {
  text-decoration: none;
  color: black;
}

.center-block {
  text-align: center;
  margin-top: 0;
}

.home-search {
  background:rgba(0 ,0 ,0 ,0.5);
  margin: 0 auto;
  margin-bottom:0px;
  margin-top: 0px;
  min-height: 90px;
  padding: 2%;
  position: relative;
  text-align: center;
  top: -100px;
  vertical-align:middle;
  width: 100%;
  z-index: 1001;
}

.navbar-header {
  margin-left: 110px;
  font-size: 21px;
  background: transparent;
  margin-top: 10px;
}

.navbar-inner {
  background: transparent;
  margin-left: 3%;
  margin-right: 13%;
}

#search-city {
  min-width: 195px;
}

.connector {
  margin-left: 0;
  margin-right: 0;
  margin-top: 10px;
}

#user-name {
  margin-top: 100px;
}

.about-me {
  min-height: 225px;
}

// body {
//   background: url(image-path("home-background.jpg")) fixed;
//   background-size: cover;
// }

.table > tbody > tr > td {
  vertical-align: right;
}

.text-listing-index {
  display: inline-block;
  margin-left: 2px;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 10px;
  width: 90%;
}

.text-listing-title p {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 100%;
}

.text-listing-title a {
  font-size: 18px;
  margin-bottom: 30px;
  margin-top: 10px;
  color: #3f3f3f;
  float: left;
  margin-right: 30px;
}

.text-listing-city {
  clear: both;
  padding-bottom: 10px;
}

.listing {
  border: 1px solid;
  background: #faf8f2;
}

.col-md-6 {
  width: 50%;
}

.prop-listings {
  text-align: center;
}

.marquee-listing-image {
  display: block;
  -webkit-margin-after: 1em;
  -webkit-margin-before: 1em;
  -webkit-margin-end: 0;
  -webkit-margin-start: 0;
}


// profile styling


.edit-header {
  background: #faf8f2;
  }

.edit-body {
  background: #faf8f2;
}

// FONTS //
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800);

.profile-page {
  font-family: 'Open Sans', sans-serif;
  color: #f5f6f7;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  font-weight: 300;
}

.profile-header {
    background-color: white;
    padding-top: 60px;
    padding-left: 50px;
    padding-bottom: 40px;
}

.listing-hero-image {
  width: auto;
  height: 100%;
  margin-top: 0;
}

.footer-block {
  height: 180px;
  margin-top: -90px;
}

// .showcase-tiles {
//   padding-top: 0px;
//   margin-top: 0px;
//   display: table-row; }
//
// .showcase-info {
//   display: table-row; }
//
// .showcase-info {
//   text-align: center; }
//
// /* =========================
//
//     LISTINGS FEED
//
//    =========================*/

.listing-slide {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.d-hover {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  padding-top: 25%;
  line-height: 20px;
  background: rgba(100, 100, 100, 0.3);
}

.d-hover p {
  display: block !important;
  z-index: 500;
  margin-top: 25px;
  font-size: 15px;
  font-style: italic;
  font-weight: 300;
}

ul.slides {
  line-height: 0px;
  padding: 0px;
}

ul.slides li {
  display: inline-block;
  width: 25%;
}


ul.slides li a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

ul.slides li a:hover .d-hover {
  display: block;
}

ul.slides li a img {
  width: 100%;
}

ul.slides li a p {
  display: none;
}

ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

@media only screen and (max-width: 1000px) {
      ul.slides li {
        width: 33%; } }
    @media only screen and (max-width: 767px) {
      ul.slides li {
        width: 50%; } }
    ul.slides li a {
      display: block;
      width: 100%;
      height: 100%;
      position: relative; }
      ul.slides li a:hover .d-hover {
        display: block; }
      ul.slides li a img {
        width: 100%; }
      ul.slides li a p {
        display: none; }
// /* =========================
//
//       FOOTER
//
//    =========================*/
#networks {
  width: 100%;
  height: 100%;
  margin-top: 200px;
}

#networks i {
  font-size: 60px;
  color: #fbf8ed;
  padding: 18px;
}

#networks .facebook:hover {
  color: #3b5998;
}

#networks .twitter:hover {
  color: #2094ca;
}

#networks .mail:hover {
  color: #f39c12;
}

// /* =========================
//
//      LISTING SHOW PAGE
//
//    =========================*/
.delete-listing {
  margin-left: 20px;
  margin-top: 15px;
}

.edit-listing-header {
  font-size: 40px;
}

.listing-header {
  margin-left: 50px;
  margin-top: 1px;
}

.user-show-row {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  padding: 20px;
}

.profile-header {
  background: linear-gradient(rgba(240, 240, 230, 0.6), rgba(255, 255, 255, 0.6)), url(/assets/form-pattern.png) repeat;
}

.user-show-name {
margin-left: 60px;
font-size: 40px;
}

.user-image {
  margin-left: 73px;
}

.about-me {
  margin-left: 20px;
  background: #faf8f2;
  height: 240px;
}

#map {
  float: right;
  height: 340px;
}

.directions-hide {
  display: none;
}

#route-narrative {
  margin-top: 50px;
  padding: 20px;
}

// /* =========================
//
//      LISTING INDEX PAGE
//
//    =========================*/

.welcome {
  color: white;
}

.listings-index {
  text-align: center;
}

.filter {
  text-align: center;
}


// /* =========================
//
//      USER LISTINGS INDEX PAGE
//
//    =========================*/

#img_container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.edit-button {
    position: absolute;
    bottom: 10px;
    right: 100px;
    width: 100px;
    height: 30px;
}


.delete-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
    height: 30px;
}

#flash_notice {
  &.error {
    border: solid 4px #900;
          background-color: #ff6565;
        }
  &.notice {
    border: solid 4px #26722D;
          background-color: #a4e7a0;
        }
  color: black;
  z-index: 999;
  position: fixed;
  font-weight: bold;
  width: 96%;
  margin: 20px;
  padding-top: 50px;
        p {
                font-size: 110%;
                margin: 15px 0;
        }
}


// /* =========================
//
//      HOST DASHBOARD INDEX PAGE
//
//    =========================*/

.dashboard {
  text-align: center;
  margin-top: 120px;
}

ul.edit-listings  {
  list-style-type: none;
}

.host-dashboard-head {
  background: #c5eaea;
  padding-bottom: 130px;
}

.host-dashboard-h2 {
  text-align: center;
  margin-top: 100px;
  font-size: 45px;
}


// /* =========================
//
//      EDIT/CREATE LISTINGS FORM
//
//    =========================*/

.listing-create-form {
  background: rgba(131, 194, 177, 0.6);
}

.edit-new-listing {
  margin-top: 70px;
}

#nightly_rate {
  margin-top: 40px;
}

select#_max_guests.form-control {
  margin-top: 10px;
}

select#_nightly_rate.form-control {
  margin-top: 10px;
}

#_category_id{
  margin-top: 10px;
}

body > div.col-md-12.filter > div.row > div > input.btn.btn-default {
  align: center;
  margin-top: 10px;
  margin-right: 10px;
}


.table-header {
  font-size: 15px;
  font-wieght: bold;
}


// /* =========================
//
//      cart /reservations.new
//
//    =========================*/

h4.cart-header {
  margin-top: 100px;
  margin-left: 80px;
  font-size: 34px;
}

.reservation-cart {
  background: #fbf8ed;
  margin-top: 60px;
  margin-right: 80px;
  margin-left: 80px;
}

.cart {
  background: linear-gradient(rgba(240, 240, 230, 0.5), rgba(255, 255, 255, 0.5)), url(/assets/form-pattern.png) repeat;
  padding-bottom: 200px;
  margin-top: 100px;
  margin-right: 150px;
  margin-left: 150px;
  margin-bottom: 40px;
}


// /* =========================
//
//      user listing show
//
//    =========================*/

.listing-header {
  margin-top: 100px;
}

.show-search {
  margin-bottom: 60px;
  margin-top: 20px;
}

.show-listing-info {
  background: #fbf8ed;
}

.show-title {
  font-size: 18px;
}

.listing-show-page {
  margin-bottom: 20px;
  padding: 20px;
}


.user-show-row {
  background: linear-gradient(rgba(240, 240, 230, 0.6), rgba(255, 255, 255, 0.6)), url(/assets/form-pattern.png) repeat;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  padding: 20px;
}
