.home-search {
  vertical-align:middle;
  margin-bottom:0px;
}

.nav {
  margin-left: 50px;
  margin-right: 50px;
}



// body {
//   background: url(image-path("home-background.jpg")) fixed;
//   background-size: cover;
// }
